/*10/8*/
/*toyo*/

.girlPhoto{
    height: 720px;
}
.swiper-container{
    /* width: 100%; */
    height: 100%;
}
.swiper-slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.girlPhotoBox{
    padding: 4px;
    border: 3px #ff8580 solid;;
    border-radius: 5px 5px 0 0;

}
#swiper2{
    width: 200px;
    float: left;
    height: 320px;
}
.girlPhotoBox img{
width: 100%;
height: 259px;
object-fit: cover;
}
.girlPhotoName{
    width: 95%;
    height: 12%;
    background-color: #fd6969;
    color: #fff8fc;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    border: 3px #ff8580 solid;;
}
.girlPhotoLage{
    display: none;
}
.event{
    margin-top: 20px;
    background-image: url(../img/event.png);
}
.news{
    height: 373px;
}
.newsTitle{
    height: 18%;
    background-size: auto;
    background-image: url(../img/news.png);
    background-position: center;
}
.girlTitle{
    height: 10%;
    background-size: auto;
    background-image: url(../img/luki.png);
    background-position: center;
}
.newsText{
    height: 81%;
    width: 99%;
    opacity: 0.6;
    overflow-y: scroll;
    border: 1px #a73535 solid;
    background-image:url(../img/body.png);
    background-repeat: repeat;
}
.text{
    height: 300px;
    width: 95%;
    margin: 3%;
    font-size: 18px;
    color: lightcoral;
}
.text p{
    width: 100%;
    color: orange;
}
.map{
    background-image: url(../img/accerss.png);
}
.line{
    background-image: url(../img/line.png);
}
