/*10/8*/
/*toyo*/
*{
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    list-style-type: none;
}
.cantion{
    width: 900px;
    height: 2000px;
    margin: 0px auto;
    background-color: #ffffff85;
    border: 1px #ff9999 solid;
}
h1{
    display: none;
}
a{
    text-decoration: none;
    color: #580025;
}
.body{
    background-color:#000000;/*改*/
    background-image:url(../img/body.png);
    background-repeat: repeat;
    background-position: top;
    background-size: auto;
}
.nav{
    width: 27%;
    float: left;
    margin-left: 2%;
    padding: 4px;
}

.telephone{
    width: 81%;
    height: 86%;
    float: left;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
}
.navimg{
    height: 83%;
    width: 12%;
    margin: 8px;
    background-image: url(../img/list.png);
    float: right;
}
.navLong{
    /* height: 1983px; */
    width: 100%;
}

.navLong1{
    width: 100%;
    height: 65px;
}
.navLong1 img{
    object-position: center;
    width: 100%;
}
.navLongLogo {
    margin-top: 5px;
    height: 255px;
    text-align: center;
    vertical-align: middle;
    background-image: url(../img/logo1.png);
}
.navLong2{
    border: 3px salmon solid;
    border-radius: 6px;
    height: 170px;
    margin: 10px;
    background-color: #ffffff;
}
.navLong2 img{
    object-position: center;
    width: 100%;
}
.centent{
    width: 68%;
    float: right;
    /* background-color: #fff9fc; */
}
.top{
    height: 187px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
   

}

.logo{
    width: 208px;
    height: 234px;
    background-image: url(../img/logo.png);
}
.tel{
    width: 261px;
    height: 127px;
    background-image: url(../img/tel.png);
}
.navLage{
    height:75px;
    display: none;
}
.navButton{
    height:50px;
    width: 16.65%;
    background-color: chocolate;
    float: left;
}
.focus{
    background-image:url(../img/fucus.png);
}
.endimg{
    width: 900px;
    margin: 0px auto;
    height: 135px;/*需要调试*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.endimg a{
    width: 110px;
    height: 50px;
   color: salmon;
    float: left;
    font-size: 20px;
}
.Titles{
    height: 75px;
    /* background-image: url(../img/titleback.png); */
    background-repeat: repeat-x;
    background-size: unset;
}
